body
{
    background-position-x: left;
    background-repeat: no-repeat;
    margin-left: 20px; 
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: cornflowerblue;

}